{{#if isGM}}
<div class="resource">
  <label class="resource-label aside">{{localize "SWYVERS.Spell.MagicKnowledge.Label"}} </label>
  <select name="system.magicKnowledge" style="width: auto">
    {{selectOptions spellMagicKnowledge selected=system.magicKnowledge localize=true}}</select>
</div>
{{/if}}
{{#if despot}}
<div class="resource item" data-item-id='{{despot._id}}'>
  <label class="resource-label aside">{{localize "SWYVERS.Spell.Despot"}}: </label>
  <label>{{despot.card}} <em>{{despot.name}}</em></label>
  {{#if isGM}}
  <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' spell'}}'>
    <i class='fas fa-trash'></i>
  </a>
  {{/if}}
</div>
{{/if}}

<ol class='items-list'>

  <li class='item flexrow items-header'>
    <div class='item-name'>
      {{localize 'SWYVERS.Item.Spell.KnownSpells'}}
    </div>
    <div class='item-controls'>
      <a class='item-control item-create' title='{{localize "DOCUMENT.Create" type=' Spell'}}' data-type='spell'>
        <i class='fas fa-plus'></i>
        {{localize 'SWYVERS.Item.Spell.AddSpell'}}
      </a>
    </div>
  </li>
  {{#each spells as |item id|}}
  <li class='item flexrow' data-item-id='{{item._id}}'>
    <div class='item-name flexrow'>
      <div class='item-image'>
        <a class='rollable' data-roll-type='item'><img src='{{item.img}}' title='{{item.name}}' width='24'
            height='24' /></a>
      </div>
      <h4>{{item.name}} {{ifThen (or (gte ../system.magicKnowledge 1) ../isGM) item.suitSymbol ""}}</h4>
    </div>
    <div class='item-controls flewrow'>
      {{#if item.system.available}}
      <a class='item-control item-roll rollable' data-roll-type='item' title='{{localize "SWYVERS.Spell.Cast"}}'>
        <i class='fa-regular fa-hand-sparkles'></i>
      </a>
      {{/if}}
      <a class='item-control item-edit' title='{{localize "DOCUMENT.Edit" type=' spell'}}'>
        <i class='fas fa-edit'></i>
      </a>
      <a class='item-control item-delete' title='{{localize "DOCUMENT.Delete" type=' spell'}}'>
        <i class='fas fa-trash'></i>
      </a>
    </div>
    <div class="item-summary flexrow">
      {{{item.cardData}}}
    </div>
  </li>
  {{/each}}

</ol>