<div class="spell">
  <p class="name">{{spell.name}}</p>
  <div class="description">{{{enriched.description}}}</div>
  <h3>{{message}}</h3>

  <div class="card-container">
    {{#each cardImages as |card|}}
    <img src="{{card}}" />
    {{/each}}
  </div>

  {{#if extraCards}}
  <div class="extra-cards">
    <p>{{localize "SWYVERS.Spell.ExtraCards"}}</p>
    <ul>
      {{#each extraCards}}
      <li>{{this}}</li>
      {{/each}}
    </ul>
  </div>
  {{/if}}

  {{#if failure}}
  <div class="failure">
    <p>{{localize "SWYVERS.Spell.Failure"}}</p>
    <p>{{localize "SWYVERS.Spell.FailureDefaultDescription"}}</p>
  </div>
  {{/if}}

  {{#if success}}
  <div class="success">
    <p>{{localize "SWYVERS.Spell.Success"}}</p>
    {{{enriched.success}}}
  </div>
  {{/if}}

  {{#if criticalSuccess}}
  <div class="empowered-success">
    <p>{{localize "SWYVERS.Spell.EmpoweredSuccess"}}</p>
    {{{enriched.empoweredSuccess}}}
  </div>
  {{/if}}

  {{#if suitSuccess}}
  <div class="suit-success">
    <p>{{spell.suitSymbol}} {{localize "SWYVERS.Spell.SuitEffect"}}</p>
    {{{enriched.suitSuccess}}}
  </div>
  {{/if}}

  {{#if criticalFailure}}
  <div class="critical-failure">
    <p>{{localize "SWYVERS.Spell.CricalFailure"}}</p>
    <p>{{localize "SWYVERS.Spell.CricalFailureDefaultDescription"}}</p>
  </div>
  {{/if}}

  {{#if magicDepleted}}
  <p class="magic-depleted">
    {{localize "SWYVERS.Spell.MagicDepleted"}}
  </p>
  {{/if}}

  {{#if continue}}
  <div class="buttons">
    <button class="spell-chat-click hit" data-action="hit"><i class="fa-solid fa-cards"></i>{{localize
      "SWYVERS.Spell.Hit"}}</button>
    <button class="spell-chat-click stand" data-action="stand"><i class="fa-regular fa-cards-blank"></i>{{localize
      "SWYVERS.Spell.Stand"}}</button>
  </div>
  {{/if}}
</div>