<fieldset>
  <legend>{{localize "SWYVERS.Container.containerOptions"}}</legend>
  <div class="resource">
    <div class="grid grid-2col">
      <div class="grid-span-1">
        <input type="checkbox" name="system.containerOptions.equipped" {{checked system.containerOptions.equipped}}>
        <label class="resource-label">{{localize "SWYVERS.Container.equipped"}}</label>
      </div>
      <div class="grid-span-1">
        <input type="checkbox" name="system.containerOptions.belt" {{checked system.containerOptions.belt}}>
        <label class="resource-label">{{localize "SWYVERS.Container.belt"}}</label>
      </div>
      <div class="grid-span-1">
        <input type="checkbox" name="system.containerOptions.backpack" {{checked system.containerOptions.backpack}}>
        <label class="resource-label">{{localize "SWYVERS.Container.backpack"}}</label>
      </div>
      <div class="grid-span-1">
        <input type="checkbox" name="system.containerOptions.backpackExternal" {{checked system.containerOptions.backpackExternal}}>
        <label class="resource-label">{{localize "SWYVERS.Container.backpackExternal"}}</label>
      </div>
      <div class="grid-span-1">
        <input type="checkbox" name="system.containerOptions.sack" {{checked system.containerOptions.sack}}>
        <label class="resource-label">{{localize "SWYVERS.Container.sack"}}</label>
      </div>
    </div>
  </div>
</fieldset>