<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label class="resource-label">{{ifThen shouldSeeCardInfo (localize "TYPES.Item.spellComponent") (localize
        "SWYVERS.Spell.StrangeItem")}}</label>
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-4col">
        {{#if shouldSeeCardInfo}}
        <div class="grid-span-2">
          <label class="resource-label">{{localize "SWYVERS.Spell.Card"}}</label>
          <select name="system.cardInfo" {{ifThen isGM "" "disabled"}}>
            {{selectOptions suitChoice selected=system.cardInfo localize=true nameAttr="id" labelAttr="label"}}</select>
        </div>
        <div class="grid-span-1">
          <img class="card-img" src="{{img}}" title="{{item.name}}" />
        </div>
        {{#if (and isGM item.isEmbedded (gte item.actor.system.magicKnowledge 2))}}
        <div class="grid-span-1">
          <label class="resource-label">{{localize "SWYVERS.Spell.ShowCardInfo"}}</label><br>
          <input type="checkbox" name="system.showInfo" {{checked system.showInfo}}>
        </div>
        {{/if}}
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="attributes">Attributes</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <div class="grid grid-3col">
          {{#if (and containerChoices item.isEmbedded item.actor.hasPlayerOwner)}}
          <div class="grid-span-1">
            <label class="resource-label">{{localize "SWYVERS.Container.Label"}}</label>
            <select name="system.container">
              {{selectOptionsWithDisabled containerChoices selected=system.container localize=true
              disabled=containerDisabled}}</select>
          </div>
          {{/if}}
        </div>

      </div>
      {{#if (or (not item.isEmbedded) item.actor.hasPlayerOwner)}}
      {{> "systems/swyvers/templates/item/parts/item-carry-options.hbs"}}
      {{/if}}
    </div>

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" button=true owner=owner editable=editable}}
    </div>
  </section>

</form>
{{log this}}