<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label class="resource-label">{{localize "TYPES.Item.spell"}}</label>
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-2col">

        {{#if item.isEmbedded}}
        <div class="grid-span-1">
          <input type="checkbox" name="system.available" {{checked system.available}}>
          <label class="resource-label">{{localize "SWYVERS.Spell.Available"}}</label>
        </div>
        {{/if}}
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="attributes">Attributes</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>

    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      {{!-- <div class="resource">
        <label class="resource-label">Spell Level</label>
        <input type="text" name="system.spellLevel" value="{{system.spellLevel}}" data-dtype="Number" />
      </div> --}}

      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="success">
          <label class="collapsible-item-label" for="success">{{localize "SWYVERS.Spell.Success"}}</label>
          <div class="collapsible-item-content">
            {{editor system.success target="system.success" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="empoweredSuccess">
          <label class="collapsible-item-label" for="empoweredSuccess">{{localize
            "SWYVERS.Spell.EmpoweredSuccess"}}</label>
          <div class="collapsible-item-content">
            {{editor system.empoweredSuccess target="system.empoweredSuccess" button=true owner=owner
            editable=editable}}
          </div>
        </div>
      </div>
      {{#if (or (and item.isEmbedded (gte item.actor.system.magicKnowledge 1)) isGM)}}
      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="hearts">
          <label class="collapsible-item-label" for="hearts">♥ {{localize "SWYVERS.Spell.SuitEffect"}}</label>
          <div class="collapsible-item-content">
            {{editor system.hearts target="system.hearts" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="spades">
          <label class="collapsible-item-label" for="spades">♠ {{localize "SWYVERS.Spell.SuitEffect"}}</label>
          <div class="collapsible-item-content">
            {{editor system.spades target="system.spades" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="diamonds">
          <label class="collapsible-item-label" for="diamonds">♦ {{localize "SWYVERS.Spell.SuitEffect"}}</label>
          <div class="collapsible-item-content">
            {{editor system.diamonds target="system.diamonds" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      <div class="collapsible-accordion">
        <div class="collapsible-item">
          <input type="checkbox" id="clubs">
          <label class="collapsible-item-label" for="clubs">♣ {{localize "SWYVERS.Spell.SuitEffect"}}</label>
          <div class="collapsible-item-content">
            {{editor system.clubs target="system.clubs" button=true owner=owner editable=editable}}
          </div>
        </div>
      </div>
      {{/if}}
    </div>
  </section>

</form>