<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}" />
    <div class="header-fields">
      <label class="resource-label">{{localize "SWYVERS.Armour.Label"}}</label>
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name" /></h1>
      <div class="grid grid-3col">
        <div class="grid-span-2">
          <div class="resource-label aside">{{localize "SWYVERS.Armour.Type.Label"}}</div>
          <select name="system.type">
            {{selectOptions armourType selected=system.type localize=true}}</select>
        </div>
        <div class="grid-span-1">
          <div class="resource-label aside">{{localize "SWYVERS.Quality"}}</div>
          <select name="system.quality">
            {{selectOptions armourQuality selected=system.quality localize=true}}</select>
        </div>
        <div class="grid-span-1">
          <label class="resource-label">{{localize "SWYVERS.DamageSoak"}}</label>
          <input type="text" name="system.damageSoak" value="{{system.damageSoak}}" data-dtype="String" />
        </div>
        <div class="grid-span-1">
          <label class="resource-label">{{localize "SWYVERS.Currency.Price"}}</label>
          <input type="text" name="priceInfo" value="{{priceInfo}}" data-dtype="String" style="width: 80%" />
          <a class='item-control item-purchase' title='{{localize "DOCUMENT.Delete" type=' spell'}}'>
            <i class='fas fa-coins'></i>
          </a>
        </div>
        <div class="grid-span-1">
          <input type="checkbox" name="system.broken" {{checked system.broken}}>
          <label class="resource-label">{{localize "SWYVERS.Armour.Broken"}}</label>
          {{!-- <label class="resource-label">{{localize "SWYVERS.Currency.Price"}}</label>
          <input type="text" name="priceInfo" value="{{priceInfo}}" data-dtype="String" /> --}}
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{#if (or (not item.isEmbedded) (eq item.actor.type "character"))}}
    <a class="item" data-tab="attributes">Attributes</a>
    {{/if}}
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">


    {{!-- Attributes Tab --}}
    <div class="tab attributes" data-group="primary" data-tab="attributes">
      {{!-- As you add new fields, add them in here! --}}
      <div class="resource">
        <div class="grid grid-3col">
          {{#if containerChoices}}
          <div class="grid-span-1">
            <input type="checkbox" name="system.equipped" {{checked system.equipped}}>
            <label class="resource-label">{{localize "SWYVERS.Equipped"}}</label>
          </div>
          <div class="grid-span-1">
            <label class="resource-label">{{localize "SWYVERS.Container.Label"}}</label>
            <select name="system.container">
              {{selectOptions containerChoices selected=system.container localize=true}}</select>
          </div>
          {{/if}}
        </div>

      </div>

      {{#if (or (not item.isEmbedded) (eq item.actor.type "character"))}}
      {{> "systems/swyvers/templates/item/parts/item-carry-options.hbs"}}
      {{/if}}
    </div>


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{!-- To render inline rolls in a TinyMCE editor, you need to pass the parent actor's (if any) roll data to the
      rollData prop. --}}
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner
      editable=editable}}
    </div>
  </section>
</form>